@use './variables'
    
*
    padding: 0
    margin: 0
    box-sizing: border-box

body 
  margin: 0
  font-family: variables.$font-stack1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code 
  font-family: variables.$font-stack2

